@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');
body {
    background-color: #fbffd2f6;
    color: #071031;
    font-family: 'Unbounded', cursive;
    font-weight: 400;
    font-size: 14px;
    transition: .3s ease all;
}

body.dark {
    background-color: #010111;
    color: #fbffd2f6;
}


/*Switch*/

.switch {
    background: #101424;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba+(0, 0, 0, .2);
}

.switch.active {
    background: #f2f7c4f6;
    color: #010111;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

h1 {
    float: center;
    font-size: 50px;
    text-align: center;
    font-family: 'Unbounded', cursive;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: larger;
    border-block-color: black;
    font-size: 30px;
    font-family: 'Unbounded', cursive;
    font-weight: 800;
}

.imagen {
    float: right;
    padding: 5px;
    border: 20px;
    border-color: #010111;
    margin: 10px;
}

.texto {
    text-align: left;
    list-style-position: inside;
    font-size: 20px;
}


/*Navegador(menu) */

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    align-items: center;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #111111;
}

@media (max-width: 700px) {
    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        width: 200px;
    }
    header nav ul li {
        float: center;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: large;
    }
    .switch {
        display: none;
    }
}